WUD_AUTH_OIDC_AUTHENTIK_CLIENTID=
WUD_AUTH_OIDC_AUTHENTIK_CLIENTSECRET=
WUD_AUTH_OIDC_AUTHENTIK_DISCOVERY=
WUD_REGISTRY_HUB_PUBLIC_AUTH=
WUD_REGISTRY_LSCR_PUBLIC_USERNAME=
WUD_REGISTRY_LSCR_PUBLIC_TOKEN=
WUD_TRIGGER_DISCORD_1_URL=
GITHUB_WOKFLOW_URL=
GITHUB_BEARER_TOKEN=